START
PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHI 0

PUSHS "Quantos numeros pretende ler?\n"
WRITES
READ 
STOREG 0
PUSHG 0
ATOI
STOREG 0
PUSHS "Insira um numero:\n"
WRITES
READ 
STOREG 1
PUSHG 1
ATOI
STOREG 1
PUSHG 1
STOREG 2
PUSHI 1
STOREG 3
FOR:

PUSHG 3
PUSHG 0
INF

JZ IF 
PUSHS "Insira um numero:\n"
WRITES
READ 
STOREG 1
PUSHG 1
ATOI
STOREG 1
PUSHG 1
PUSHG 2
INF

JZ IF0
PUSHG 1
STOREG 2

IF0:
PUSHG 3
PUSHI 1
ADD
STOREG 3
JUMP FOR

IF:
PUSHS "Menor numero: "
WRITES
PUSHG 2
WRITEI
PUSHS "Insira a quantidade de numeros da sequencia: "
WRITES
READ 
STOREG 0
PUSHG 0
ATOI
STOREG 0
PUSHI 0
STOREG 3
FOR:

PUSHG 3
PUSHG 0
INF

JZ IF 
PUSHS "Insira um numero: "
WRITES
READ 
STOREG 1
PUSHG 1
ATOI
STOREG 1
PUSHG 1
PUSHI 2
MOD
STOREG 4
PUSHG 4
PUSHI 1
EQUAL

JZ IF0
PUSHS "numero primo: "
WRITES
PUSHG 1
WRITEI
PUSHS "\n"
WRITES

IF0:
PUSHG 3
PUSHI 1
ADD
STOREG 3
JUMP FOR

IF:

STOP